.capture {
  width: 800px;
  height: calc(9 / 16 * 800px);
  background: black;
  border-radius: 4px;
  position: relative;
  margin: 4rem auto;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: black;
  border-radius: 4px;
}

.request {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.request button {
  font: inherit;
  height: 48px;
  padding: 0 2rem;
  background: rgba(175, 108, 238, 0.568);
  color: white;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.request button:hover {
  background: rgba(175, 108, 238, 0.7);
}

.request button:active {
  background: rgba(175, 108, 238, 0.4);
}

.canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  z-index: 999;
}

.rect {
  display: block;
  border: 4px rgba(255, 0, 0, 0.4) solid;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  user-select: none;
  transition: 0.2s;
  border-radius: 4px;
}

.chart {
  max-width: 800px;
  height: 100px;
  margin: 2rem auto;
}
